// * {
//   border: 1px solid purple;
// }
nav {
  text-align: center;
  background: yellow;
}
.content {
  border: 1px solid Orange;
}
.foodItem {
  background: red;
  display: flex;
}
.name, .date {
  margin-right: 10px;
}
