<div class="tabUpFlexBox">
  <div class="colorKeyGhost">
    <div class="colorKey" ng-if="ctrl.colorKey == true">
      <div>
        <div class="colorSet"><div class="color fridge"></div> Refridgerator
        </div>
        <div class="colorSet"><div class="color freezer"></div> Freezer
        </div>
        <div class="colorSet"><div class="color pantry"></div> Pantry
        </div>
      <div class="colorSet"><div class="color purColor"></div> Purchase Date
      </div>
        <div class="colorSet"><div class="color expColor"></div> Expiration Date
        </div>
      </div>
    </div>
  </div>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<div class="tabRight">
  <input class="search" id="search" placeholder="Search..." type="text" oninput="setTimeout(decodeIds, .1)" ng-model="search">

  <div class="tabsContainer">
    <div id="optionsTabUp" class="tabSlideBox">
      <div id="optionsTab" class="tab" onclick="runAnimation('optionsTabUp')">Options</div> <!--ng-click="(optionTU = !optionTU) && (foodTU = false)"-->
      <div id="optionsContent" class="tabContent"> <!-- ng-if="optionTU == true" -->
        <!-- <div class="tabUpOptions" ng-if="optionTU == true"> -->
          <!-- <div class="tabUpTitle">Options</div> -->
          <div class="optDropDwn">
            <div class="tabUpItem showSelector">
              <div class="foodTabUpInput">
                <p>Show Only:</p>
                <form ng-submit="ctrl.getFoods(getStorage, getContainer)">
                  <select class="storageOp" name="" ng-model="getStorage">
                    <option value="all">All</option>
                    <option value="fridge">Refridgerator</option>
                    <option value="freezer">Freezer</option>
                    <option value="pantry">Pantry</option>
                    <option value="box">box</option>
                    <option value="can">can</option>
                    <option value="bag">bag</option>
                  </select>
                  <input class="submit" type="submit"/>
                </form>
              </div>

            </div>
            <div class="tabUpItem sortSelector">
              <div class="foodTabUpInput">
                <p>Sort By:</p>
                <div class="sortBtnExp" ng-click="ctrl.selectOrder = 'experation_date'">Expiration Date</div>
                <div class="sortBtnPur" ng-click="ctrl.selectOrder = 'purchased_date'">Purchase Date</div>
              </div>

                <!-- <select class="storageOp" ng-model="selectOrder">
                  <option value="purchased_date">Purchase Date</option>
                  <option value="experation_date">Expiration Date</option>
                </select> -->
            </div>
            <p class="tabUpItem">Edit</p>
          </div>
        <!-- </div> -->
        </div>
    </div>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    <div id="addFoodTabUp" class="tabSlideBox">
      <div id="addFoodTab" class="tab" onclick="runAnimation('addFoodTabUp')">Add Food</div>
      <div id="addFoodContent" class="tabContent">
        <!-- <div class="centerContent"> -->
          <form ng-submit="ctrl.addFood()">
              <input class="foodFormInput" type="text" ng-model="ctrl.formData.name" placeholder="Name"> <br>
              <div class="foodTabUpInput">
                <p>Purchase Date:</p>
                <input class="foodFormInputDate" type="date" ng-model="ctrl.formData.purchased_date" placeholder="yyyy/mm/dd"/>
              </div>
              <div class="foodTabUpInput">
                <p>Expiration Date:</p>
                <input class="foodFormInputDate" type="date" ng-model="ctrl.formData.experation_date" placeholder="yyyy/mm/dd"/>
              </div>

            <div class="foodTabUpInput">
              <p>Storage Type:</p>
              <select class="foodFormInputDate" name="" ng-model="ctrl.formData.storage_id">
                <option value="1">Refridgerator</option>
                <option value="2">Freezer</option>
                <option value="3">Pantry</option>
              </select>
            </div>

            <div class="foodTabUpInput">
              <p>Container Type:</p>
              <select class="foodFormInputDate" ng-model="ctrl.formData.container_id">
                <option value="1">box</option>
                <option value="2">can</option>
                <option value="3">bag</option>
              </select>
            </div>

            <input class="submit" type="submit"/>
          </form>
      </div>
    </div>
  </div>







</div>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
</div>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<div class="listTabs">
  <div class="tabLeft">
    <div class="tab" ng-click="ctrl.colorKey = !ctrl.colorKey">Color Key</div>
  </div>

</div>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<div class="list">
  <div class="foodBox">
    <div class="foodItem" ng-if="food.user_id == ctrl.userId" ng-repeat="food in ctrl.foods | filter:search | orderBy: ctrl.selectOrder"> <!-- ng-if="food.user_id == ctrl.userId" -->
      <div class="nameBox"> <span>{{food.container_id}}</span>
        <h2 class="name">{{ food.name }}</h2>
      </div>
      <p class="storageType">{{food.storage_id}}</p>
      <p class="purchDate">{{food.purchased_date}}</p>
      <p class="expDate">{{food.experation_date}}</p>
      <p class="purchDate">User Id: {{food.user_id}}</p>
      <div class="delete" ng-click="ctrl.deleteFoods(food.id)">Delete</div>
    </div>
  </div>
</div>
